#header {
    height: 55px
}

#tu-logo {
    width: 255px;
    height: 41px;
    margin-left: 6px;
}

#stud_pool_header {
    padding-top: 2em;
    padding-left: 5em;
}

#stud-logo {
    width: 114px;
    height: 98px;
}
